footer {
  background: #000;
  color: #fff;
  padding: 30px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.footer-links {
  margin-bottom: 20px; /* Spacing between links and social media icons */
}

.footer-links a {
  color: #fd7e14; /* White color for the links */
  margin: 0 10px; /* Spacing between links */
  text-decoration: none; /* Removes underline from links */
  font-size: 16px; /* Adjust as needed */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.footer-links a:hover {
  color: #90c989; /* Change color on hover, use your brand color */
}

.social-media {
  /* Center the icons */
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icon {
  /* Example style for social media icons */
  color: #fd7e14; /* White color for icons */
  margin: 0 5px; /* Spacing between icons */
  font-size: 20px; /* Adjust as needed */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.social-media-icon:hover {
  color: #90c989; /* Change color on hover, use your brand color */
}
